<article id="article-template" class="article-item">
    <div class="image-wrap"><img src="{{pelicula.image}}" alt="{{pelicula.title}}" /></div>
    <h2 [class.tit-Red]="i < 1">{{i}} - {{pelicula.title}}</h2>
    <span class="date">Hace 5 minutos</span>
    <span class="year" [ngClass]="{
'year-Green': pelicula.year == 2021,
'year-Blue': pelicula.year < 2021
}" [style.font-weight]="pelicula.year == 2021 ? 'bold': 'initial' ">{{pelicula.year}}</span>
    <a href="#">Leer más</a>
    <button class="Favorita" (click)="seleccionar($event, pelicula)">
        Dale
    </button>
    <div class="clearfix"></div>
</article>