<app-slider 
    [Nombre]="'Pagg'"
    [size]="'small'"
></app-slider>

<div class="center">

    <section id="content">



        <h1 class="subheader">Pagina</h1>

        <!--
<div *ngIf="nombre && apellidos">
    <h2>Lo pasado por parametro es: {{nombre}}</h2>
    <h2>Lo 2 pasado por parametro es: {{apellidos}}</h2>
</div>

<div *ngIf="!nombre || !apellidos">
    <h2>No hay parametros por la Url</h2>
</div>
-->

        <div *ngIf="nombre && apellidos; then siHayParametros else noHayParametros"></div>

        <ng-template #siHayParametros>
            <h2>Lo pasado por parametro es: {{nombre}}</h2>
            <h2>Lo 2 pasado por parametro es: {{apellidos}}</h2>
        </ng-template>


        <ng-template #noHayParametros>
            <h2>No hay parametros por la Url</h2>
        </ng-template>




        <button (click)="redireccion()">Inyecta parametros</button>

        <hr>

    </section>

    <app-sidebar></app-sidebar>

</div>